@tailwind base;
@tailwind components;
@tailwind utilities;

.nav::after {
  content: '';
  left: 0px;
  bottom: -5px;
  position: absolute;
  background: #303ebc;
  width: 0px;
  transition-duration: 500ms;
  height: 3px;
}
.nav:hover::after {
  width: 100%;
}
::-webkit-scrollbar {
  background-color: transparent;
}